@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700&display=swap");

:root {
  --color-primary: #2d3e50;
  --color-secondary: #c52b30;
  --color-tertiary: #14171c;
  --color-green: #3ab54a;
}

body {
  font-family: "Cairo", sans-serif;
  background-color: #fbfbfb;
}

a {
  text-decoration: none;
  color: white;
}

/* Header */
.header {
  background-color: var(--color-primary);
}

.languages .active {
  color: var(--color-secondary);
}

.lang-breaker {
  width: 1px;
  height: 29.2px;
}

@media (max-width: 767px) {
  .auth-link {
    font-size: 0.75rem;
  }
}

.navbar-nav:first-child .nav-link.active {
  color: var(--color-secondary);
}
.navbar-nav:first-child .nav-link {
  transition: 0.3s;
  font-weight: bold;
  position: relative;
}
.navbar-nav:first-child .nav-link::after {
  position: absolute;
  content: "";
  transition: 0.3s;
}

.navbar-nav:first-child .nav-link::before {
  position: absolute;
  content: "";
  transition: 0.3s;
}

/* .navbar-nav:first-child .nav-link.active::after {
  width: 100%;
  height: 3px;
  background: var(--color-secondary);
  left: 0;
  bottom: 0;
} */

@media (min-width: 992px) {
  .navbar-nav:first-child .nav-link.active::after {
    width: 100%;
    height: 3px;
    background: var(--color-secondary);
    left: 0;
    bottom: -100%;
  }
}

@media (min-width: 992px) {
  .navbar-nav:first-child .nav-link::before {
    width: 1px;
    height: 100%;
    background: #ddd;
    left: 0;
    top: 0;
  }
}

.navbar-nav .nav-link:hover {
  color: var(--color-secondary);
}

/* .navbar-nav:first-child .nav-link:hover::after {
  width: 100%;
  height: 3px;
  background: var(--color-secondary);
  left: 0;
  bottom: 0;
} */

@media (min-width: 992px) {
  .navbar-nav:first-child .nav-link:hover::after {
    width: 100%;
    height: 3px;
    background: var(--color-secondary);
    left: 0;
    bottom: -100%;
  }
}

.navbar-nav button {
  background-color: var(--color-primary);
}
/* Header */

input,
select,
textarea {
  border-radius: 0 !important;
  background-color: #fbfbfb !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

form button {
  border-radius: 0 !important;
  color: white !important;
}

@media (max-width: 767px) {
  .remember-me,
  .forgot-pass {
    font-size: 0.75rem;
  }
}

form button {
  width: 220px;
}

form button:first-child {
  background-color: var(--color-green);
}

form button:first-child:hover {
  color: var(--color-green) !important;
  border: 1px solid var(--color-green);
}

form button:nth-child(2) {
  background-color: var(--color-primary);
}

form button:nth-child(2):hover {
  color: var(--color-primary) !important;
  border: 1px solid var(--color-primary);
}

footer {
  background-color: var(--color-primary);
  color: white;
}

footer a.active {
  color: var(--color-secondary);
}

footer a {
  font-weight: bold;
  transition: 0.3s;
}

footer a:hover {
  color: var(--color-secondary);
}

.footer {
  background-color: var(--color-tertiary);
  color: white;
}

.footer .footer-span {
  color: var(--color-secondary);
}

@media (max-width: 767px) {
  .copyrights {
    font-size: 0.75rem;
  }
}

.contact {
  background-color: var(--color-primary);
  color: white;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

form button.contact-btn {
  background-color: var(--color-primary) !important;
}

form button.contact-btn:hover {
  color: var(--color-primary) !important;
  border: 1px solid var(--color-primary) !important;
  background-color: white !important;
}

@media (max-width: 767px) {
  .contact-hr {
    top: 35%;
    left: 0;
  }
}

@media (min-width: 767px) and (max-width: 992px) {
  .contact-hr {
    top: 40%;
    left: 0;
  }
}

@media (min-width: 992px) {
  .contact-hr {
    top: 30%;
    left: 0;
  }
}

.contact-div {
  color: var(--color-secondary);
  font-weight: bold;
}

.social-imgs div {
  width: 40px;
}

@media (min-width: 992px) {
  .contact-section {
    height: 739.2px;
  }
}

@media (min-width: 767px) {
  .contact-logo img {
    height: 150px;
  }
}

.donate-category {
  background-color: #f4f4f4;
}

.donate-title {
  background-color: #fbfbfb;
}

/* @media (max-width: 767px) {
  .donate-category,
  .donate-title {
    font-size: 0.75rem;
  }
} */

@media (max-width: 767px) {
  .donate-category,
  .donate-title {
    width: 100% !important;
    margin-bottom: 1rem;
  }
}

@media (min-width: 767px) {
  .donate-category,
  .donate-title {
    width: 50%;
  }
}

.details {
  background-color: var(--color-primary);
  color: white;
  width: 200px;
}
@media (max-width: 767px) {
  iframe {
    height: 100%;
  }
}

@media (max-width: 767px) {
  .baby img {
    width: 200px;
  }
}

.articles-disease {
  background-color: var(--color-primary);
  color: white;
}

.heart {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.related-articles {
  position: relative;
  width: fit-content;
  color: var(--color-secondary);
  font-weight: bold;
}

.related-articles::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background: var(--color-secondary);
  bottom: -76%;
  left: 0;
}

.slider-item h3 {
  color: var(--color-secondary);
}

.slider-item .heart {
  background-color: var(--color-primary);
  color: white;
  top: 3%;
  left: 3%;
}

.owl-carousel {
  position: static;
}

.owl-theme .owl-nav {
  position: absolute;
  top: -3%;
  left: 0;
  font-size: 3rem;
  margin-top: 0;
}
